language: php

sudo: required

php:
    - '5.5'
    - '5.6'
    - '7.0'

#services:
#    - mysql

before_script:
    - composer install
#    - mysql -e 'create database dsql_test;'

after_script:
    - if [[ ${TRAVIS_PHP_VERSION:0:3} == "5.6" ]]; then echo "Sending coverage report"; vendor/bin/test-reporter; fi

script:
    - phpunit
#    - phpunit --configuration phpunit-mysql.xml

notifications:
    slack:
        rooms:
            - agiletoolkit:bjrKuPBf1h4cYiNxPBQ1kF6c#dsql
        on_success: change
    email: false
