parameters:
    level: 6
    paths:
        - ./
    excludePaths:
        - cache/
        - build/
        - vendor/

    # TODO review once we drop PHP 7.x support
    treatPhpDocTypesAsCertain: false

    # some extra rules
    checkAlwaysTrueCheckTypeFunctionCall: true
    checkAlwaysTrueInstanceof: true
    checkAlwaysTrueStrictComparison: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    # TODO checkMissingClosureNativeReturnTypehintRule: true
    reportMaybesInMethodSignatures: true
    reportStaticMethodSignatures: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkMissingIterableValueType: false # TODO

    ignoreErrors:
        - '~^Unsafe usage of new static\(\)\.$~'

        -
            message: '~^Call to deprecated method getRawDataByTable\(\) of class Atk4\\Data\\Persistence\\Array_:~'
            path: '*'
            count: 2

        # fix https://github.com/phpstan/phpstan-deprecation-rules/issues/52 and https://github.com/phpstan/phpstan/issues/6444
        -
            message: '~^Call to method (getVarcharTypeDeclarationSQL|getClobTypeDeclarationSQL|getCreateTableSQL)\(\) of deprecated class Doctrine\\DBAL\\Platforms\\(SQLServerPlatform|AbstractPlatform):\nUse.+instead\.$~'
            path: '*'
            count: 3

        # TODO these rules are generated, this ignores should be fixed in the code
        # for src/Schema/TestCase.php
        - '~^Access to an undefined property Atk4\\Data\\Persistence::\$connection\.$~'
        - '~^Call to an undefined method Atk4\\Data\\Persistence::dsql\(\)\.$~'
        # for src/Field/SqlExpressionField.php
        - '~^Call to an undefined method Atk4\\Data\\Model::expr\(\)\.$~'
        # for src/Model.php
        - '~^Call to an undefined method Atk4\\Data\\Persistence::export\(\)\.$~'
        - '~^Call to an undefined method Atk4\\Data\\Persistence::prepareIterator\(\)\.$~'
        - '~^Call to an undefined method Atk4\\Data\\Persistence::action\(\)\.$~'
        # for src/Model/ReferencesTrait.php (in context of class Atk4\Data\Model)
        - '~^Call to an undefined method Atk4\\Data\\Reference::refLink\(\)\.$~'
        # for src/Persistence/Sql.php
        - '~^Call to an undefined method Atk4\\Data\\Persistence::expr\(\)\.$~'
        - '~^Call to an undefined method Atk4\\Data\\Persistence::exprNow\(\)\.$~'
        # for src/Reference/HasMany.php
        - '~^Call to an undefined method Atk4\\Data\\Model::dsql\(\)\.$~'
        # for tests/FieldTest.php
        - '~^Call to an undefined method Atk4\\Data\\Reference\\HasOne::addTitle\(\)\.$~'
        # for tests/JoinSqlTest.php
        - '~^Call to an undefined method Atk4\\Data\\Reference\\HasOne::addField\(\)\.$~'
        # for tests/ReferenceSqlTest.php
        - '~^Call to an undefined method Atk4\\Data\\Reference\\HasOne::addFields\(\)\.$~'
        - '~^Call to an undefined method Atk4\\Data\\Reference::addTitle\(\)\.$~'
        # for tests/ScopeTest.php
        - '~^Call to an undefined method Atk4\\Data\\Tests\\SUser::expr\(\)\.$~'
