<phpunit bootstrap="vendor/autoload.php" printerClass="Atk4\Core\Phpunit\ResultPrinter" colors="true">
    <php>
        <env name="DB_DSN" value="sqlite::memory:" />
        <env name="DB_USER" value="" />
        <env name="DB_PASSWORD" value="" />
    </php>
    <testsuites>
        <testsuite name="tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener" />
    </listeners>
    <coverage>
        <include>
            <directory>src</directory>
            <directory>tests</directory>
        </include>
        <report>
            <php outputFile="coverage/phpunit.cov" />
        </report>
    </coverage>
</phpunit>
