<phpunit bootstrap="vendor/autoload.php" printerClass="atk4\core\AtkPhpunit\ResultPrinter" colors="true">
    <php>
        <var name="DB_DSN" value="oci:dbname=oracle/xe;charset=UTF8" />
        <var name="DB_USER" value="system" />
        <var name="DB_PASSWD" value="oracle" />
        <var name="DB_DBNAME" value="xe" />
    </php>
    <testsuites>
        <testsuite name="tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <php outputFile="build/logs/clover-oracle.cov" />
        </report>
    </coverage>
</phpunit>
