<phpunit bootstrap="vendor/autoload.php" printerClass="Atk4\Core\Phpunit\ResultPrinter" colors="true">
    <php>
        <var name="DB_DSN" value="pgsql:host=postgres;dbname=atk4_test__data" />
        <var name="DB_USER" value="atk4_test" />
        <var name="DB_PASSWD" value="atk4_pass" />
        <var name="DB_DBNAME" value="atk4_test__data" />
    </php>
    <testsuites>
        <testsuite name="tests">
            <directory>tests</directory>
            <directory>tests-schema</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener" />
    </listeners>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
            <directory suffix=".php">src-schema</directory>
        </include>
        <report>
            <php outputFile="build/logs/clover-pgsql.cov" />
        </report>
    </coverage>
</phpunit>
