<phpunit bootstrap="vendor/autoload.php" printerClass="Atk4\Core\AtkPhpunit\ResultPrinter" colors="true">
    <php>
        <var name="DB_DSN" value="oci:dbname=oracle/xe;charset=UTF8" />
        <var name="DB_USER" value="system" />
        <var name="DB_PASSWD" value="oracle" />
        <var name="DB_DBNAME" value="xe" />
    </php>
    <testsuites>
        <testsuite name="tests">
            <directory>tests</directory>
            <directory>tests-schema</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener" />
    </listeners>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
            <directory suffix=".php">src-schema</directory>
        </include>
        <report>
            <php outputFile="build/logs/clover-oracle.cov" />
        </report>
    </coverage>
</phpunit>
