on:
  milestone

name: Updating Changelog
jobs:
  create-release-notes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@develop
      - run: mkdir temp_release_notes
      - name: Create Release Notes
        uses: docker://decathlon/release-notes-generator-action:2.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OUTPUT_FOLDER: temp_release_notes
          USE_MILESTONE_TITLE: "true"
      - run: ls temp_release_notes
      - run: cat temp_release_notes/*
